*{
   color: #25282e;
}
a, i{
    transition: .5s;
    text-decoration: none;
}
.secundary-color{
    color: #555;
}
.center-image{
    height: 40vh;
    background-image: url('/img/g_1.jpg');
    background-size: cover;
    background-position: center;
}
.btn{
    text-decoration: none;
    background-color: #25282e;
    padding: 7px 18px;
    border-radius: 0px;
    color: white;

}
.btn:hover{
    background-color: #333;
    color: #fff;
}

#logo-cabecalho{
    width: 80px;
}
.links{
    display: block;
}
.image-info{
    background-color: white;
}
