*{
   color: #25282e;
}
a, i{
    transition: .5s;
    text-decoration: none;
}
.secundary-color{
    color: #555;
}
.center-image{
    background-image: url('../img/bmw.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 60vh;
}
.btn{
    text-decoration: none;
    background-color: #25282e;
    padding: 7px 18px;
    border-radius: 0px;
    color: white;

}
.obras-destaque{
    height: 40vh;
    background-image: url('../img/muscle-car.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.obras-destaque-2{
    height: 40vh;
    background-image: url('../img/ford.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.obras-destaque-3{
    height: 40vh;
    background-image: url('../img/gol.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.obras-destaque-4{
    height: 40vh;
    background-image: url('../img/honda.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.obras-destaque-5{
    height: 40vh;
    background-image: url('../img/luxo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.btn:hover{
    background-color: #333;
    color: #fff;
}

#logo-cabecalho{
    width: 80px;
}
.links{
    display: block;
}
.image-info{
    background-color: white;
}
footer{
    background-color: #555;
}
.bi{
    font-size: 2rem;
    color: white;
}
#texto-footer{
    font-size: 1.2rem;
    color: white;
}
@media (min-width: 992px){
    .center-image{
        height: 80vh;
    }
}
@media (min-width: 1024px) and (max-height: 600px){
    .center-image{
        height: 60vh;
    }
}
@media (min-width: 1280px) and (max-height: 800px){
    .center-image{
        height: 60vh;
    }
}
@media (min-width: 1024px) and (min-height: 1366px){
    .center-image{
        height: 40vh;
    }
    .image-info{
        width: 40%;
    }
}